@keyframes animBrowse {
    from {}
    to {
        transform: rotate(15deg);
        color: blue;

    }
}

@keyframes transitionHover{
    from{}
    to{
        transform: scale(1.5);
    }
}





$shadow: 4px 11px 12px 0 rgba(0,0,0,0.20);
$wi:white;
$brown: #281400;
$lightB: #a28f61;
$bgBlue:#0f3e57;
