@keyframes animBrowse {
    from {

    }
    50% {
        color: blue;
    }
    to {
        transform: rotate(360deg);
        color:yellow;
    }
}


$wi:red;
    $shadow: 4px 11px 12px 0 rgba(0,0,0,0.20);
