header {
    background-color: #281400;
    color: white;
    text-align: center;

    #nav {
        margin-bottom: 10rem;

        a {
            color: #9a9187;
        }

        #btnSearch {
            position: absolute;
            top: 0;
            right: 0;
            background-color: transparent;

            i {
                color: white;
            }
        }
    }

    h2 {
        font-weight: bold;
        width: 21%;
        margin: auto auto 1.5rem;
        font-size: 2.5rem;
    }

    h1 {
        font-size: 3rem;
        font-weight: bold;
        margin-bottom: 1.5rem;
    }

    #btnbrowse {
        color: white;
        background-color: #a28f61;
        margin-bottom: 10rem;
        font-size: 1.1rem;
        padding: 1rem 2rem;
    }
}
// -----------------------------------MAIN

body {
    main {
        margin-bottom: 2rem;
        padding: 80px;
        .hSpring {
            font-size: 3rem;
            color: black;
            margin: 4rem auto;
        }

        .card {
            box-shadow: 4px 11px 12px 0px rgba(0,0,0,0.20);
            display: flex;
            justify-content: start;
            background-color: lightgray;
            margin-bottom: 2rem;
            max-width: auto;
            .card-body {
                padding: 6px;

            ul {
                list-style-type: none;
                text-align: left;
                padding: 0;

                li {
                    font-size: 1rem;
                    h3 {
                        font-weight: normal;
                        color: grey;
                        font-size: 1.2rem;
                        margin: 0;
                    }
                    .price{

                    }
                    a {
                        color: brown;
                    }
                    .price{
                        color: black;
                    }
                    a:hover {
                        text-decoration: none;
                        color: inherit;
                    }
                }
            }
        }
        }
    }
}


// ------------------------------------Footer

footer{
    background-color: #0f3e57;
    padding: 80px;
    .row{
        text-align: left;
        color: grey;
        ul{
            list-style: none;
            padding: 0;
            li{
                form{
                    input[type="mail"] {
                        max-width: 60%;
                    }
                }
                a{
                    color: grey;
                    margin: 3%;
                }
                a:hover{
                    text-decoration: none;
                    color: white;

                }
            }
        }
        h4{
            color: white;

        }
    }
}
@media screen and (max-width: 990px) {
    header {
        h2 {
            width: auto;
        }
    }
    footer{
        .row{
            text-align: center;
        }
    }
}
