header {
    background-color: #281400;
    color: white;
    text-align: center;
    #nav {
        margin-bottom: 10rem;
        a {
        color: #9a9187;
            }
        #btnSearch{
            position: absolute;
            top: 0;
            right: 0;
            background-color: transparent;

            i{
                color: white;
            }
        }
    }

        h2 {
    font-weight: bold;
    width: 21%;
    margin: auto;
    margin-bottom: 1.5rem;
    font-size: 2.5rem;

    }
        h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    }
    #btnbrowse {
        color: white;
        background-color: #a28f61;
        margin-bottom:10rem;
        font-size: 1.1rem;
        padding: 1rem 2rem;

    }
}

    // -----------------------------------MAIN

    main{


        .hSpring{
            font-size: 3rem;
            color:black ;
            margin: 4rem auto;

        }
    }
















@media screen and (max-width: 990px) {
    header{
        h2{
            width: auto;
        }
    }
}
