header {
    background-color: #281400;
    color: white;
    text-align: center;
    #nav {
        margin-bottom: 10rem;
        a {
        color: #9a9187;
            }

    }

h2 {
    font-weight: bold;
    width: 20%;
    margin: auto;
}
h1 {
    font-size: 2.5rem;
    font-weight: bold;
}
    #btnbrowse {
        color: white;
        background-color: red;
        margin-bottom:10rem;

}
}
